@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import "helpers/_responsive";

/* GENERAL */
html,body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: #000;
    font-weight: 400;
}
a:hover { text-decoration: none; }
img { max-width: 100%; }

/* HEADER */
#header {
    background: #0B7AD0;
    text-align: center;
    padding: 20px 0;
}

#header2 {
    background: #0B7AD0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    @include respond-down(sm) { display: none; }
    img {
        max-width: 168px;
        height: 25px;
    }
    p {
        margin-bottom: 0;
        color: #FFF;
        font-size: 16px;
        svg {
            font-size: 36px;
            vertical-align: middle;
            margin-left: 20px;
        }
    }
}

#header3 {
    background: #0B7AD0;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    @include respond-down(sm) { display: flex; }
    p {
        margin-bottom: 0;
        color: #FFF;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
    }
}

/* MAIN */
#main {
    .container {
        @include respond-down(sm) {
            width: 100%;
            max-width: 100%;
            padding: 0;
        }
    }
    .login-area {
        max-width: 770px;
        margin: 20px auto;
        border: 1px solid #D6D7D8;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        @include respond-down(sm) {
            display: block;
            border: 0;
            padding: 0;
            margin: 0;
        }
        .left {
            width: 100%;
            form {
                width: 307px;
                margin: 0 auto;
                @include respond-down(sm) {
                    width: 100%;
                    padding: 0 20px;
                }
                .form-group {
                    position: relative;
                    .eye {
                        height: 49px;
                        position: absolute;
                        top: 28px;
                        right: 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }
                }
                legend {
                    color: #0B7AD0;
                    font-size: 24px;
                    font-weight: 300;
                    margin-bottom: 30px;
                    margin-top: 50px;
                    @include respond-down(sm) { margin-top: 20px; }
                }
                p {
                    color: #33393eb3;
                    font-weight: 300;
                    font-size: 16px;
                    margin-bottom: 15px;
                    @include respond-down(sm) { font-size: 18px; }
                }
                label {
                    color: #33393E;
                    font-weight: 600;
                    font-size: 14px;
                }
                input {
                    height: 51px;
                    border-radius: 0;
                    border-color: #33393E;
                    font-weight: 300;
                    text-transform: uppercase;
                    &:focus {
                        outline: 0;
                        box-shadow: none;
                        border-color: #0B7AD0;
                    }
                    &#password { font-weight: 600; font-size: 13px; }
                }
                .btns {
                    text-align: right;
                    button {
                        background: #0B7AD0;
                        color: #FFF;
                        width: 126px;
                        height: 40px;
                        padding: 0;
                        border: 0;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 13px;
                        text-align: center;
                        svg { margin-left: 20px; }
                        @include respond-down(sm ) {
                            text-align: left;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 0 15px;
                            width: 100%;
                        }
                        &.disabled {
                            background-color: rgba(38, 38, 42, 0.08);
                            border: 1px solid transparent;
                            cursor: not-allowed;
                            color: rgba(51, 57, 62, 0.3);
                        }
                    }
                }
            }
        }
        .right {
            min-width: 285px;
            max-width: 285px;
            background: #F4F7FD;
            padding: 0 30px;
            padding-top: 50px;
            padding-bottom: 10px;
            @include respond-down(sm) {
                min-width: inherit;
                max-width: 100%;
                margin-top: 30px;
                padding: 50px;
            }
            p {
                color: #33393E;
                font-weight: 300;
                font-size: 14px;
            }
            button {
                border: 1px solid #000000;
                color: #000;
                font-weight: 600;
                font-size: 14px;
                text-transform: uppercase;
                padding: 8px 15px;
                background: transparent;
                @include respond-down(sm) { width: 100%; }
            }
            h3 {
                font-weight: 300;
                color: #33393E;
                font-size: 20px;
            }
            .imgs {
                margin-top: 20px;
                img {
                    max-width: 71px;
                }
            }
            b {
                font-weight: 600;
                font-size: 20px;
            }
            hr {
                background: #CDD1D6;
                margin: 30px 0;
            }
        }
    }
}

#main2 {
    display: flex;
    height: 100%;
    .left {
        min-width: 32%;
        padding: 80px 30px;
        @include respond-down(md) { min-width: 42%; }
        @include respond-down(sm) { display: none; }
        h3 {
            font-size: 20px;
            color: #33393eb3;
            text-transform: capitalize;
            font-weight: 600;
            span {
                display: inline-block;
                width: 50px;
                text-align: center;
            }
        }
        ul {
            padding-left: 57px;
            margin-bottom: 30px;
            li {
                list-style-type: none;
                color: #000;
                font-weight: 600;
                font-size: 16px;
                margin-bottom: 20px;
                &:last-child { margin-bottom: 0; }
                &.active {
                    color: #0b7ad0 !important;
                }
            }
        }
    }
    .right {
        background: #F4F7FD;
        flex-grow: 1;
        padding: 80px;
        @include respond-down(sm) {
            padding: 40px;
        }
        form {
            .form-group {
                max-width: 385px;
                &.has-error {
                    input {
                        border-color: red;
                        &:focus {
                            outline: 1px solid red;
                        }
                    }
                    .error-message {
                        color: red;
                        font-size: 12px;
                        margin-top: 2px;
                    }
                }
            }
            legend {
                border-left: 2px solid #DD4C40;
                font-size: 28px;
                padding-left: 10px;
                margin-bottom: 30px;
            }
            p {
                margin-bottom: 50px;
                font-weight: 600;
                color: #000;
            }
            label {
                color: #33393E;
                font-weight: 600;
                font-size: 14px;
            }
            input {
                height: 51px;
                border-radius: 0;
                border-color: #33393E;
                font-weight: 300;
                text-transform: uppercase;
                background: transparent;
                &:focus {
                    outline: 1px solid #0B7AD0;
                    box-shadow: none;
                    border-color: #0B7AD0;
                }
                &#password { font-weight: 600; font-size: 13px; }
            }
            .btns {
                margin-top: 60px;
                button {
                    background: #0B7AD0;
                    color: #FFF;
                    width: 126px;
                    height: 40px;
                    padding: 0;
                    border: 0;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 13px;
                    text-align: center;
                    &:hover {
                        background: #54a2de;
                    }
                    &:focus {
                        outline: 0;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

/* FOOTER */
#footer {
    background: #454C53;
    padding: 30px;
    ul {
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            color: #FFF;
            font-weight: 300;
            font-size: 11px;
            text-transform: uppercase;
            margin-right: 20px;
            &:last-child { margin-right: 0; display: none; }
            @include respond-down(sm) {
                display: block;
                margin-right: 0;
                margin-bottom: 20px;
                &:last-child { margin-bottom: 0; display: block; text-align: right; }
                &:first-child { display: none; }
            }
        }
    }
}

.loader {
    text-align: center;
    .spinner-border {
        width: 50px;
        height: 50px;
        border: .25em solid #c5d7fb;
        border-right-color: transparent;
    }
    p {
        margin-bottom: 0;
        font-size: 13px;
        margin-top: 10px;
    }
}